$contact-background: #9854a0;
.contact-firstcol {
    background-color: $contact-background;
    text-align: center;
    border-radius: 15px;

    h4 {
        line-height: 40px;
        font-weight: 400;
        margin-top: 20px
    }
}

.form-contact {
    label {
        font-weight: 700;
    }

    .btn-primary {
        background-color: $contact-background;
        border-color: $contact-background;
    }
}